@{
    ViewBag.Title = "Index";
}

<h2>Admin</h2>

<div>
    <ul>
        <li>@Html.ActionLink("Feed Admin", "Index", "RssFeedAdmin")</li>
        <li>@Html.ActionLink("Alert Admin", "Index", "AlertBoardAdmin")</li>
        <li>@Html.ActionLink("Notify Test", "Test", "Notify")</li>
    </ul>
</div>